Pillow==4.3.0
aiohttp==1.0.5
appdirs==1.4.3
async-timeout==1.2.0
beautifulsoup4==4.6.0
bs4==0.0.1
chardet==3.0.2
cleverwrap==0.2.3.6
discord.py==0.16.7
emoji==0.4.5
lxml==4.1.0
multidict==2.1.4
packaging==16.8
peewee==2.9.2
pyparsing==2.2.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
websockets==3.3
ruamel.yaml==0.15.35