aiohttp==1.0.5
appdirs==1.4.3
async-timeout==1.2.0
chardet==3.0.2
discord.py==0.16.7
multidict==2.1.4
packaging==16.8
peewee==2.9.2
pyparsing==2.2.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
websockets==3.3
cleverwrap==0.2.3.6
